body{
    font-family: 'Cairo', sans-serif;
    margin: auto;
}

  
  /* For screen size less than 600px */
  @media screen and (max-width: 600px) {
    body {
        margin: auto;
    }
  }

header{
    background-color: white;
    margin: 30px 20px 30px 30px;
    padding: -10px 5px ;
}

.Tracking-label{
    color: #475467;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0;
    text-align: center; 
    font-family: 'Cairo', sans-serif ;
    margin-top: 80px;
    margin-bottom: 20px;
    font-weight: bold; 
}

.ant-input{
    border-radius: 10px 0 0 10px;
   width: 30%; 
    height: 18px;
    padding: 20px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    font-family:'Cairo', sans-serif;
}

 /* For screen size less than 600px */
 @media screen and (max-width: 600px) {
    input[type=text]{
        width:50%;
    }
}

.input-position{
    text-align: center;
}

.ant-input:hover{
    border: 2px solid #d9d9d9;
    border-right: 0;
}

.ant-btn{
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
    width: 5%;
    height:63px;

}
 /* For screen size less than 600px */
 @media screen and (max-width: 700px) {
    .ant-btn,.ant-btn-primary,button[type="submit"]{
        width:12%;
    }
    svg{
        width:100%;
    }
}

.display1{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: #667085;
    text-align: center;
    position: relative;
    margin-top:40px;
    margin-bottom: 5px;
}

.diplay-xl{
    
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0;
    text-align: center;
    position: relative;
}

.display-3{
    color: #0098a5;
}

.dispaly-4{
    margin-left: 4px;
    text-align: center;   
}

search.ant-input-search-with-button .ant-input-group .ant-input-group-addon button {
    width: 60px;
    height: 60px;
}

.ant-btn-primary {
    background-color: #e30613;
}

.options{
    float: right;
    border:none;
    color: #667085;
}

.options:hover{
    color: #e30613; 
}

.display-5{
    font-size: 14px;
    letter-spacing: 0;
    color: #667085;
    margin: auto;
    width: 30%;
    left:-240px;
    position:relative;
    bottom: 20px;
}

.divider {
    margin:auto;
    width:63%;
    height: 1px;
    background: #e4e7ec;
    margin-bottom: 32px;
    margin-top: 24px;
}
 
svg {
    width: 30;
    height: 30;
    fill: none;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

.input-position{
    text-align: center;
}

.ant-btn{
    background-color: #e30613;
    border-radius: 0 10px 10px 0 ;
    border:none;
    height: 59px;
}



/* ACTIVITY LOG */

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
     max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 0.5px;
    background-color:#d0d5dd ;
    top: 28px;
    bottom: 0;
    left: 49%;
    margin-left: -409px;
    margin-top: 1px;
}


/* Container around content */
.container {
    padding: 5px 20px;
    width: 50%;
    position: relative;
    left:150px;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #d0d5dd;
    top: 28px;
    border-radius: 50%;
    z-index: 1;
    margin: auto;
}

/* Place the container to the right */
.right {
    left: 15.5%;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -14px;
}

.user-card{
    font-size: 15px; 
}

/* The actual content */
.content {
    font-size: 9px;
    padding: 15px 25px;
    background-color: white;
    position: relative;
    border-radius: 10px;
    border:1px solid #d0d5dd;
}

/*  Error message  */
.error{
    border: 1px solid #fecdca ;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    border-radius: 4px;
    font-size: 13px;
    line-height: 20px;  
}

.error{
    color: black;
    background-color:#fef3f2 ;
    background-image: 
    url('./error.png');
}

.err{
    max-width: 600px;
    margin: auto;
}
